In [2]:
! pip install pyspark

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pyspark
  Downloading pyspark-3.3.0.tar.gz (281.3 MB)
     |████████████████████████████████| 281.3 MB 46 kB/s
Collecting py4j==0.10.9.5
  Downloading py4j-0.10.9.5-py2.py3-none-any.whl (199 kB)
     |████████████████████████████████| 199 kB 31.8 MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.3.0-py2.py3-none-any.whl size=281764026 sha256=4a52b9f251dc0304180fb7333fdbd5f5b9383d180515a196eace180efe221e79
  Stored in directory: /root/.cache/pip/wheels/7a/8e/1b/f73a52650d2e5f337708d9f6a1750d451a7349a867f928b885
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.5 pyspark-3.3.0

In [1]:
import pyspark
from pyspark.sql import SparkSession
spark = SparkSession.builder.getOrCreate()

In [2]:
from IPython.display import display, HTML
display(HTML("<style>pre { white-space: pre !important; }</style>"))

### Create the schema of the streamed files (check the column names and types from the CSV files)

In [3]:
from pyspark.sql.types import (StructType, StructField,
                               StringType, IntegerType,FloatType,DateType)

In [4]:
recordSchema = StructType([StructField('ID', StringType(), True),
                           StructField('Date', StringType(), True),
                           StructField('Open', FloatType(), True),
                           StructField('High', FloatType(), True),
                           StructField('Low', FloatType(), True),
                           StructField('Close', FloatType(), True),
                           StructField('Adj Close', IntegerType(), True),
                           StructField('Volume', IntegerType(), True)])

### Create the dataframe by reading the stream using format "csv" and the schema you created.

In [5]:
df = spark.readStream.format("csv") \
    .schema(recordSchema) \
    .load("/content/stream_test")

### Make sure the sataframe is streaming the files from the folder

In [6]:
df.isStreaming

True

### Create a stream writer into memory and specify the query name "stock:

In [7]:
writer = df.writeStream.outputMode("append") \
    .format("memory")  \
    .queryName('stock')

In [8]:
query= writer.start()

### Start the write stream and make sure it works (read all columns from the table)

In [9]:
display(spark.sql('SELECT * FROM stock').show())

+---+----+----+----+---+-----+---------+------+
| ID|Date|Open|High|Low|Close|Adj Close|Volume|
+---+----+----+----+---+-----+---------+------+
+---+----+----+----+---+-----+---------+------+

None

In [14]:
display(spark.sql('SELECT * FROM stock').show())

+----+----------+-------+-------+-------+-------+---------+------+
|  ID|      Date|   Open|   High|    Low|  Close|Adj Close|Volume|
+----+----------+-------+-------+-------+-------+---------+------+
|null|      Date|   null|   null|   null|   null|     null|  null|
|   0|2000-01-04|22817.9|25696.8|22817.9|24879.3|     null|108745|
|   1|2000-01-05|24523.9|26229.9|23670.9|24417.3|     null|175990|
|   2|2000-01-06|24381.7|24666.1|22746.8|22817.9|     null| 71746|
|   3|2000-01-07|22036.0|24879.3|22036.0|23884.2|     null|120984|
|   4|2000-01-10|24879.3|25519.1|23813.1|24061.9|     null|151371|
|   5|2000-01-11|24168.5|25021.5|23955.2|24239.6|     null| 95943|
|   6|2000-01-12|24168.5|24452.8|23457.6|23670.9|     null| 61899|
|   7|2000-01-13|23670.9|24132.9|23102.2|23244.4|     null| 57538|
|   8|2000-01-14|23457.6|24168.5|22746.8|23244.4|     null| 84267|
|   9|2000-01-17|22533.6|23457.6|22533.6|23457.6|     null| 67807|
|  10|2000-01-18|23457.6|23742.0|22746.8|23422.1|     null| 27995|
|  11|2000-01-19|22817.9|23173.3|22036.0|22036.0|     null| 44173|
|  12|2000-01-20|21325.1|22000.4|20756.5|21680.6|     null| 47550|
|  13|2000-01-21|21680.6|22391.4|20863.1|21680.6|     null| 80750|
|  14|2000-01-24|20969.7|21822.7|20969.7|20969.7|     null| 79906|
|  15|2000-01-25|20258.9|20934.2|19548.0|20116.7|     null|170925|
|  16|2000-01-26|20223.3|20543.2|19761.3|20330.0|     null| 59929|
|  17|2000-01-27|20401.0|22746.8|20330.0|21040.8|     null|139132|
|  18|2000-01-28|21431.8|22107.1|21040.8|21964.9|     null| 78640|
+----+----------+-------+-------+-------+-------+---------+------+
only showing top 20 rows

None

In [15]:
spark.sql('SELECT Count(*) FROM stock').show()

+--------+
|count(1)|
+--------+
|      82|
+--------+

In [16]:
display(spark.sql('SELECT * FROM stock').show())

+----+----------+-------+-------+-------+-------+---------+------+
|  ID|      Date|   Open|   High|    Low|  Close|Adj Close|Volume|
+----+----------+-------+-------+-------+-------+---------+------+
|null|      Date|   null|   null|   null|   null|     null|  null|
|   0|2000-01-04|22817.9|25696.8|22817.9|24879.3|     null|108745|
|   1|2000-01-05|24523.9|26229.9|23670.9|24417.3|     null|175990|
|   2|2000-01-06|24381.7|24666.1|22746.8|22817.9|     null| 71746|
|   3|2000-01-07|22036.0|24879.3|22036.0|23884.2|     null|120984|
|   4|2000-01-10|24879.3|25519.1|23813.1|24061.9|     null|151371|
|   5|2000-01-11|24168.5|25021.5|23955.2|24239.6|     null| 95943|
|   6|2000-01-12|24168.5|24452.8|23457.6|23670.9|     null| 61899|
|   7|2000-01-13|23670.9|24132.9|23102.2|23244.4|     null| 57538|
|   8|2000-01-14|23457.6|24168.5|22746.8|23244.4|     null| 84267|
|   9|2000-01-17|22533.6|23457.6|22533.6|23457.6|     null| 67807|
|  10|2000-01-18|23457.6|23742.0|22746.8|23422.1|     null| 27995|
|  11|2000-01-19|22817.9|23173.3|22036.0|22036.0|     null| 44173|
|  12|2000-01-20|21325.1|22000.4|20756.5|21680.6|     null| 47550|
|  13|2000-01-21|21680.6|22391.4|20863.1|21680.6|     null| 80750|
|  14|2000-01-24|20969.7|21822.7|20969.7|20969.7|     null| 79906|
|  15|2000-01-25|20258.9|20934.2|19548.0|20116.7|     null|170925|
|  16|2000-01-26|20223.3|20543.2|19761.3|20330.0|     null| 59929|
|  17|2000-01-27|20401.0|22746.8|20330.0|21040.8|     null|139132|
|  18|2000-01-28|21431.8|22107.1|21040.8|21964.9|     null| 78640|
+----+----------+-------+-------+-------+-------+---------+------+
only showing top 20 rows

None

In [17]:
spark.sql('SELECT Count(*) FROM stock').show()

+--------+
|count(1)|
+--------+
|     412|
+--------+

### Remove the first row from the data (hint: drop the rows where ALL values are null), then add a new column "diff", which is the difference between high and low columns

In [18]:
df2 = df.dropna(thresh=3)

In [19]:
df2.isStreaming

True

In [20]:
df2 = df2.withColumn('diff',df2.High - df2.Low)

In [21]:
query.stop()

### Create a new write stream using the new generated dataframe and call the generate table "modified_data"

In [22]:
writer2 = df2.writeStream.outputMode("append") \
    .format("memory")  \
    .queryName('modified_data')

In [23]:
query2 = writer2.start()

In [24]:
display(spark.sql('SELECT * FROM modified_data').show())

+---+----------+-------+-------+-------+-------+---------+------+---------+
| ID|      Date|   Open|   High|    Low|  Close|Adj Close|Volume|     diff|
+---+----------+-------+-------+-------+-------+---------+------+---------+
|240|2000-12-05|26585.3|27367.3|26372.1|27011.8|     null| 91019| 995.2012|
|241|2000-12-06|27011.8|27509.4|26798.6|26869.7|     null|105791| 710.8008|
|242|2000-12-07|27011.8|27011.8|26478.7|26656.4|     null| 40656|533.10156|
|243|2000-12-08|26656.4|27722.7|26656.4|27651.6|     null|149964|1066.2988|
|244|2000-12-11|27687.1|28860.0|27651.6|28078.1|     null|159671|1208.4004|
|245|2000-12-12|28042.6|28078.1|27438.3|27935.9|     null| 74560| 639.7988|
|246|2000-12-13|27651.6|29286.5|27651.6|28469.1|     null|270385|1634.9004|
|247|2000-12-14|28469.1|29784.1|28291.3|28362.4|     null|256317|1492.7988|
|248|2000-12-15|28362.4|28895.6|27793.8|27935.9|     null|108886|1101.7988|
|249|2000-12-18|27580.5|28433.5|27367.3|28291.3|     null| 92848|1066.1992|
|250|2000-12-19|27722.7|28788.9|27651.6|27651.6|     null|115779|1137.3008|
|251|2000-12-20|27402.8|27793.8|27154.0|27722.7|     null| 99601| 639.8008|
|252|2000-12-21|27367.3|27793.8|27082.9|27722.7|     null|129706| 710.9004|
|253|2000-12-22|27687.1|28007.0|27509.4|28007.0|     null| 77233| 497.5996|
|254|2000-12-26|27971.5|31987.7|27473.9|28433.5|     null|131535| 4513.799|
|255|2001-01-02|27367.3|27367.3|25945.6|26656.4|     null| 64150|1421.7012|
|256|2001-01-03|26585.3|26656.4|26016.7|26656.4|     null| 37421| 639.7012|
|257|2001-01-04|27367.3|28078.1|26905.2|27082.9|     null|131254|1172.9004|
|258|2001-01-05|26940.8|26940.8|26194.4|26585.3|     null| 90316| 746.4004|
|259|2001-01-08|26514.2|27011.8|26052.2|26052.2|     null|102414|959.60156|
+---+----------+-------+-------+-------+-------+---------+------+---------+
only showing top 20 rows

None

In [25]:
query2.stop()

### Write the generated data into files instead of the memory.

In [26]:
writer3 = df2.writeStream.outputMode("append") \
    .format("parquet") \
    .option("path", "OutStream/") \
    .option("checkpointLocation", "chkpnt") 
query = writer3.start()

In [27]:
query.stop()

### Stop the query. Now, try reading the generated parquet files into a normal dataframe
- Create a schema and use it to read the data.
- Show the output.

In [28]:
df = spark.read.parquet('OutStream/')
df.show()

+---+----------+-------+-------+-------+-------+---------+------+---------+
| ID|      Date|   Open|   High|    Low|  Close|Adj Close|Volume|     diff|
+---+----------+-------+-------+-------+-------+---------+------+---------+
|240|2000-12-05|26585.3|27367.3|26372.1|27011.8|     null| 91019| 995.2012|
|241|2000-12-06|27011.8|27509.4|26798.6|26869.7|     null|105791| 710.8008|
|242|2000-12-07|27011.8|27011.8|26478.7|26656.4|     null| 40656|533.10156|
|243|2000-12-08|26656.4|27722.7|26656.4|27651.6|     null|149964|1066.2988|
|244|2000-12-11|27687.1|28860.0|27651.6|28078.1|     null|159671|1208.4004|
|245|2000-12-12|28042.6|28078.1|27438.3|27935.9|     null| 74560| 639.7988|
|246|2000-12-13|27651.6|29286.5|27651.6|28469.1|     null|270385|1634.9004|
|247|2000-12-14|28469.1|29784.1|28291.3|28362.4|     null|256317|1492.7988|
|248|2000-12-15|28362.4|28895.6|27793.8|27935.9|     null|108886|1101.7988|
|249|2000-12-18|27580.5|28433.5|27367.3|28291.3|     null| 92848|1066.1992|
|250|2000-12-19|27722.7|28788.9|27651.6|27651.6|     null|115779|1137.3008|
|251|2000-12-20|27402.8|27793.8|27154.0|27722.7|     null| 99601| 639.8008|
|252|2000-12-21|27367.3|27793.8|27082.9|27722.7|     null|129706| 710.9004|
|253|2000-12-22|27687.1|28007.0|27509.4|28007.0|     null| 77233| 497.5996|
|254|2000-12-26|27971.5|31987.7|27473.9|28433.5|     null|131535| 4513.799|
|255|2001-01-02|27367.3|27367.3|25945.6|26656.4|     null| 64150|1421.7012|
|256|2001-01-03|26585.3|26656.4|26016.7|26656.4|     null| 37421| 639.7012|
|257|2001-01-04|27367.3|28078.1|26905.2|27082.9|     null|131254|1172.9004|
|258|2001-01-05|26940.8|26940.8|26194.4|26585.3|     null| 90316| 746.4004|
|259|2001-01-08|26514.2|27011.8|26052.2|26052.2|     null|102414|959.60156|
+---+----------+-------+-------+-------+-------+---------+------+---------+
only showing top 20 rows

### Sort the dataframe based on the ID

In [29]:
finalDFSorted = df.sort('ID')
finalDFSorted.show()

+---+----------+-------+-------+-------+-------+---------+------+---------+
| ID|      Date|   Open|   High|    Low|  Close|Adj Close|Volume|     diff|
+---+----------+-------+-------+-------+-------+---------+------+---------+
|  0|2000-01-04|22817.9|25696.8|22817.9|24879.3|     null|108745|2878.9004|
|  1|2000-01-05|24523.9|26229.9|23670.9|24417.3|     null|175990|   2559.0|
| 10|2000-01-18|23457.6|23742.0|22746.8|23422.1|     null| 27995| 995.1992|
|100|2000-05-23|17557.7|17913.1|16775.8|17557.7|     null| 39671|1137.2988|
|101|2000-05-24|17664.3|18481.8|16846.9|17415.5|     null| 57256|1634.9004|
|102|2000-05-25|18339.6|19157.1|17628.8|18695.0|     null|219319|1528.2988|
|103|2000-05-26|18695.0|20116.7|18126.4|18979.4|     null| 95521|1990.2988|
|104|2000-05-29|18268.5|19334.8|18268.5|19192.6|     null| 59929|1066.3008|
|105|2000-05-30|19192.6|19192.6|19192.6|19192.6|     null|     0|      0.0|
|106|2000-05-31|19761.3|21183.0|19761.3|21183.0|     null| 96787|1421.6992|
|107|2000-06-01|21325.1|21325.1|20685.4|21289.6|     null| 37983| 639.6992|
|108|2000-06-02|21467.3|21893.8|20685.4|20969.7|     null|100586|1208.4004|
|109|2000-06-05|20969.7|23813.1|20898.6|22320.3|     null|112262|   2914.5|
| 11|2000-01-19|22817.9|23173.3|22036.0|22036.0|     null| 44173|1137.3008|
|110|2000-06-06|22320.3|22320.3|22320.3|22320.3|     null|     0|      0.0|
|111|2000-06-07|22746.8|23457.6|21822.7|22889.0|     null|118311|1634.9004|
|112|2000-06-08|23031.1|23457.6|21325.1|21325.1|     null| 75123|   2132.5|
|113|2000-06-09|21893.8|21893.8|21040.8|21396.2|     null| 61758|    853.0|
|114|2000-06-12|22036.0|24310.7|21467.3|23457.6|     null|393620|2843.3984|
|115|2000-06-13|23457.6|23457.6|21680.6|22036.0|     null|139272|   1777.0|
+---+----------+-------+-------+-------+-------+---------+------+---------+
only showing top 20 rows

+---+----------+------------+------------+------------+------------+------------+------+------------------+
| ID|      Date|        Open|        High|         Low|       Close|   Adj Close|Volume|              diff|
+---+----------+------------+------------+------------+------------+------------+------+------------------+
|  0|2000-01-04|22817.900391|25696.800781|22817.900391|24879.300781|23510.880859|108745|2878.9003900000025|
|  1|2000-01-05|24523.900391|26229.900391|23670.900391|24417.300781|23074.294922|175990|            2559.0|
|  2|2000-01-06|24381.699219|24666.099609|22746.800781|22817.900391|21562.865234| 71746| 1919.298827999999|
|  3|2000-01-07|     22036.0|24879.300781|     22036.0|23884.199219|22570.513672|120984|2843.3007810000017|
|  4|2000-01-10|24879.300781|25519.099609|23813.099609|24061.900391|22738.439453|151371|            1706.0|
|  5|2000-01-11|     24168.5|     25021.5|23955.199219|24239.599609|22906.365234| 95943|1066.3007810000017|
|  6|2000-01-12|     24168.5|24452.800781|23457.599609|23670.900391|22368.947266| 61899|  995.201172000001|
|  7|2000-01-13|23670.900391|24132.900391|23102.199219|23244.400391| 21965.90625| 57538| 1030.701172000001|
|  8|2000-01-14|23457.599609|     24168.5|22746.800781|23244.400391| 21965.90625| 84267|1421.6992189999983|
|  9|2000-01-17|22533.599609|23457.599609|22533.599609|23457.599609|22167.376953| 67807|             924.0|
| 10|2000-01-18|23457.599609|     23742.0|22746.800781|23422.099609|22133.832031| 27995| 995.1992189999983|
| 11|2000-01-19|22817.900391|23173.300781|     22036.0|     22036.0|20823.970703| 44173|1137.3007810000017|
| 12|2000-01-20|21325.099609|22000.400391|     20756.5|21680.599609|20488.117188| 47550|1243.9003909999992|
| 13|2000-01-21|21680.599609|22391.400391|20863.099609|21680.599609|20488.117188| 80750|1528.3007819999984|
| 14|2000-01-24|20969.699219|21822.699219|20969.699219|20969.699219|19816.320313| 79906|             853.0|
| 15|2000-01-25|20258.900391|20934.199219|     19548.0|20116.699219|19010.236328|170925|1386.1992189999983|
| 16|2000-01-26|20223.300781|20543.199219|19761.300781|     20330.0|19211.804688| 59929| 781.8984379999965|
| 17|2000-01-27|     20401.0|22746.800781|     20330.0|21040.800781|19883.511719|139132|2416.8007810000017|
| 18|2000-01-28|21431.800781|22107.099609|21040.800781|21964.900391|20756.783203| 78640| 1066.298827999999|
| 19|2000-01-31|21325.099609|21893.800781|     21183.0|21467.300781|20286.552734| 45861| 710.8007810000017|
+---+----------+------------+------------+------------+------------+------------+------+------------------+
only showing top 20 rows